/*Common for all pages  */
html, body {
    margin-left: 100px;
    margin-right: 100px;
    font-family: "Helvetica", sans-serif;
}
/*Navigation bar*/
.header {
    display: inline-flex;
}

.logo {
    margin-left: 10px;
}

.header li {
list-style: none;
display: inline-block;
justify-content: space-around;
text-align: center;
width: 180px;
margin-top: 25px;
margin-left: 30px;
}

h1 {
    font-size: 35px;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

/*The schedule page */
.heading{
  display: flex;
  height: 15vh;
  flex-direction: row;
  align-items: flex-start;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
}

.schedule {
  display: flex;
  height: 90vh;
  max-width: 1000px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.box {
  color: white;
  padding: 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  flex-basis: 30%;
  width: 30%;
  height: 30%;
  flex-shrink: 1;
  box-shadow: 0 0 10px rgba(60, 60, 60, 0.6);
}

.box h1{
  font-size: 25px;
  color: #440d0f;
  font-family: 'Lato', sans-serif;
  font-weight: 600;

}

.box p{
  color: black;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}

.box-1 {background: #beb0a7;}
.box-2 {background: #eddcd2;}
.box-3 {background: #ddbea9;}
.box-4 {background: #f2e8cf;}
.box-5 {background: #beb0a7;}
.box-6 {background: #beb0a7;}
.box-7 {background: #beb0a7;}
.box-8 {background: #beb0a7;}
.box-9 {background: #beb0a7;}

@media screen and (max-width: 800px) {
  .schedule {
    flex-direction: column;
  }
}

/*Home page*/

.banner {
   width: 95%;
   height: 500px;
   overflow: hidden;
}

.banner img {
    max-width: 100%;
    height: auto;
    display: block;
}


.text-image {
    width: 50%;
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 5px 10px;
    line-height: 1.5em;
    position: relative;
    left: 20px;
    top: -60px;

}



/*Contact page*/

.contact-headline {
  margin-left: 30px;
  margin-top: 60px;
}

.contact-container {
  display: flex;
  width: 100%;
  padding-top: 10px;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-around;

}

.contact-text {
  text-align: center;
  padding: 50px 10px;
  line-height: 1.5em;
  font-size: 18px;
  flex-basis: 45%;
}

.map {
flex-basis: 45%;
border: 1px solid black;
}



/*The staff page */
.row {
  display: flex;
  width: 50%;

}

.column {
  flex: 50%;
  padding: 20px !important;
}

.staff-pictures {
  width: 50%;
}

.staffnames {
  font-family: "Helvetica", sans-serif;
  font-size: 20px;
}
