/*Common for all pages  */
html, body {
    margin-left: 100px;
    margin-right: 100px;
    font-family: "Helvetica", sans-serif;
}

.header {
    display: inline-flex;
}

.logo {
    margin-left: 10px;
}

.header li {
list-style: none;
display: inline-block;
justify-content: space-around;
text-align: center;
width: 180px;
margin-top: 25px;
margin-left: 30px;
}

h1 {
    font-size: 35px;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

/*The schedule page */
.schedule {
  display: flex;
  height: 90vh;
  max-width: 1000px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.box {
  font-size: 50px;
  color: white;
  padding: 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  flex-basis: 30%;
  width: 30%;
  height: 30%;
  flex-shrink: 1;
  box-shadow: 0 0 10px rgba(60, 60, 60, 0.6);

}

.banner {
   width: 95%;
   height: 500px;
   overflow: hidden;
}

.banner img {
    max-width: 100%;
    height: auto;
    display: block;
}

.box h1{
  font-size: 16px;
  color: lightskyblue;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  background: beige;

}
.text-image {
    width: 50%;
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 5px 10px;
    line-height: 1.5em;
    position: relative;
    left: 20px;
    top: -60px;
    
}


.box p{
  color: black;
  font-size: 13px;
  font-family: 'Lato', sans-serif;

}

.box-1 {background: beige;}
.box-2 {background: beige;}
.box-3 {background: beige;}
.box-4 {background: beige;}
.box-5 {background: beige;}
.box-6 {background: beige;}
.box-7 {background: beige;}
.box-8 {background: beige;}
.box-9 {background: beige;}

@media screen and (max-width: 800px) {
  .schedule {
    flex-direction: column;
  }
}

/*The staff page */
.row {
  display: flex;
  width: 50%;

}

.column {
  flex: 50%;
  padding: 20px !important;
}

.staff-pictures {
  width: 50%;
}

.staffnames {
  font-family: "Helvetica", sans-serif;
  font-size: 20px;
}
