/*Common for all pages  */
html, body {
    font-family: "Helvetica", sans-serif;
    padding: 10px;
}


.container{
  max-width: 1000px;
  margin: 0 auto;
}

/*Navigation bar*/
.header {
    display: inline-flex;
}

.logo {
    margin-left: 10px;
}

.header li {
list-style: none;
display: inline-block;
justify-content: space-around;
text-align: center;
width: 180px;
margin-top: 25px;
margin-left: 30px;
}

h1 {
    font-size: 35px;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

@media (max-width: 900px){
  .contact-container{
    align-items: center;
  }
}

@media (max-width: 1050px) {
  .header li{
    width: 250px;
  }
}

/*The schedule page */
.heading{
  display: flex;
  height: 15vh;
  flex-direction: row;
  align-items: flex-start;
  font-family: 'Lato', sans-serif;
  /*font-size: 24px;*/
}

.heading h1{
  font-size: 24px;
}

.schedule {
  display: flex;
  /*height: 90vh;*/
  max-width: 1000px;
  /*flex-direction: row;*/
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  /*flex-flow: wrap;*/
  gap: 30px;
}

.box {
  color: white;
  padding: 20px 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  width: 300px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(60, 60, 60, 0.6);
  min-height: 200px;
  background: #e5e5e5
}

.box h1{
  font-size: 25px;
  color: #440d0f;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.box p{
  color: black;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
}

.box h2{
  padding: 0;
  margin: 0;
  color: black;
}

@media (max-width: 750px){
  .box{
    width: 100%;
  }
}

/*Home page*/

.banner {
   width: 95%;
   height: auto;
   overflow: hidden;
}

.banner img {
    max-width: 100%;
    height: auto;
    display: block;
}


.text-image {
    width: 70%;
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 5px 10px;
    line-height: 1.5em;
    position: relative;
}



/*Contact page*/
.contact-container {
  display: flex;
  width: 100%;
  padding-top: 10px;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

}

.contact-text {
  text-align: center;
  line-height: 1.5em;
  font-size: 18px;
}

.map img{
border: 1px solid black;
width: 90%;
height: auto;
}


/*The staff page */
.row {
  display: flex;
  width: 50%;

}

.column {
  flex: 50%;
  padding: 20px !important;
}

.staff-pictures {
  width: 50%;
}

.staffnames {
  font-family: "Helvetica", sans-serif;
  font-size: 20px;
}
